html, body {
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.box {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
    font-size: 1.5em;
    border: 2px solid black;
}